.cg_popup {
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 123456;
}

.cg_popup .grid {
    position: absolute;
    width:80%;
    left:5%;
    height:90%;
    top:5%;
    display: grid;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.cg_popup .title {
    position: absolute;
    left: 40%;
    top: 2%;
    font-size: larger;
}

.cg_popup .buttons {
    position: absolute;
    width:15%;
    left:85%;
    height:90%;
    top:5%;
    padding: 20px;
}

.cg_popup .grid img {
    margin: 2px;
    border: 1px solid white;
    padding: 4px;
    max-width: 100%;
    max-height: 100%;
}

.cg_popup .grid img.selected {
    border: 3px solid green;
    padding: 2px;
}

.cg_popup .buttons button {
    margin-top: 10px;
    padding: 4px;
    display: block;
    width: 100px;
}

.cg_popup .buttons input {
    padding: 4px;
    display: inline;
}

.cg_popup .text_edit {
    width: 100%;
    height: 150px;
}

.cg_popup.hidden {
    display:none
}